:root {
	--primary-color: #72144c;
	--primary-color-rgb: 17, 106, 112;
	--secondary-color: #cdbd36;
	--secondary-color-rgb: 33, 167, 178;
	--tertiary-color: #d1732d;
	--tertiary-color-rgb: 14, 70, 74;
}